<style>
	#changeView {
	    margin-top: 0px;
	    margin-left: 0px;
	    font-size: 30px;
		height: 30px;
    	display: inline;
    	vertical-align: middle;
	}
	#_searchbar {
    	display: inline;
        height: 35px;
        
    	max-width: 400px;
    	text-align: center;
    	margin: auto;
    	vertical-align: middle;
	}
	#dropdown_menu {
	    margin-top: 0px;
	    margin-left: 0px;
		height: 30px;
    	display: inline;
    	vertical-align: middle;

    border: 0px;
    font-family: "Amatic SC";
    font-weight: 600;
    color: white;
	}
	#common_tags_button {
    	display: inline;
    	vertical-align: middle;
	    margin-left: 1px;
	    font-family: "Amatic SC";
	    font-size: 19px;
	    font-weight: 600;
	    color: white;
	    border-radius:  3px;
	}
	#menu1 {
	    margin-top: 0px;
	    margin-left: 0px;
		height: 40px;
    	display: inline;
    	vertical-align: middle;
        font-size: 19px;
	}
	#centered {
    	width: 590px;
    	margin: auto;
	}
	#searchRow {
		/*background-color: lightgray;*/
	}
        .rightCorner{
            float: right;
        }
        #container{width:100%;clear:both;padding-top: 5px;}
#left{float:left;display:inline-block;}
#right{float:right;display:inline-block;}
#center{margin:0 auto;width:50%;display:inline-block;padding-left: 5px;}
</style>

<div ng-controller="SearchCtrl">
	<div id="container">
            <div id="center">
	<input 	type="text" 
			ng-model="searchBox"
			ng-change="changeHandler()"
			placeholder="Search by using tags"
			id="_searchbar"
			size="screenWidth"/>
	
            </div>
        <div id="right">
	<a><i class="fa fa-square" aria-hidden="true" ng-click="changeview(0)" id="changeView"></i></a>
	<a><i class="fa fa-th-large" aria-hidden="true" ng-click="changeview(1)" id="changeView"></i></a>
	<a><i class="fa fa-th" aria-hidden="true" ng-click="changeview(2)" id="changeView"></i></a>
	<div class="dropdown" id="dropdown_menu">
	<button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown" >Sort by
	<span class="caret" ></span></button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
		  <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="sortby('')" href="">None</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="sortby('date')" href="">Date</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="sortby('meta.owner')" href="">Uploader</a></li>
		</ul>
        </div></div>
        
            <div id="left">
	Common tags: 
	<div ng-repeat="x in commonTags" style="display: inline; line-height:2.5">
		<md-button class="btn btn-primary btn-sm" 
		ng-click="setSearch(x)" id="common_tags_button">
			{{x}}
		</md-button>
	</div>
            </div>
            <div style="clear:both;"></div>
        </div>
</div>