<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title class="logo"></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
    <style type="text/css">
        body {
            padding-top: 100px;
            
        }
        a{float:right;
            position: relative;
            bottom:30px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            
            margin-top: 40px;
            padding-top: 20px;
            font-family: "Amatic SC";
        }
        .logo {
          height: 100px;
           width: 350px;
display: block;
  margin-left: auto;
  margin-right: auto;
padding-bottom: 10px;
            
            }
            #BtnForm{
    font-family: "Amatic SC";
    font-size: 25px;
    font-weight: bold;

   
   
    display: block;
    
    border : solid 1px #f0f0f0;
    border-radius : 3px;
    moz-border-radius : 3px;
    -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow : 0px 0px 5px rgba(0,0,0,0.5);
    box-shadow : 0px 0px 5px rgba(0,0,0,0.5);
    padding : 1px 10px;

    color : #000000;
    background : #ffffff;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cacbcc));
    background : -moz-linear-gradient(top, #ffffff 0%, #cacbcc 100%);
    background : -webkit-linear-gradient(top, #ffffff 0%, #cacbcc 100%);
    background : -o-linear-gradient(top, #ffffff 0%, #cacbcc 100%);
    background : -ms-linear-gradient(top, #ffffff 0%, #cacbcc 100%);
    background : linear-gradient(top, #ffffff 0%, #cacbcc 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cacbcc',GradientType=0 );    
}
.BtnForm:hover{
    border : solid 1px #5e9eff;
    box-shadow : 0px 0px 5px rgba(5,66,120,1.0);
}
    .form-group{
        
    }
    </style>
</head>
<body>