<div ng-controller="MainCtrl">
    <h1 class="h1font">{{switchTitle}}</h1>
    
    <!---->
    <div ng-if="picdataLength" >
            
        <!-- THIS IS FOR THE FULL SCREEN VIEW: -->
        <div class="container_row" ng-if="fullscreen">
            <button id="prBtn" class="customButtons" ng-click="pervious_image()" style="float: left; margin-left: 0px;">Previous</button>
            <div  ng-repeat="x in newImageList | 
                            filterByTable:searchResultArray:pictureTags:downloadItems |
                            orderBy:'sortBy'|limitTo:1:pictureInView" 
                            style="float: left">
                <label class="layer1"><input type="checkbox" class="uniq" id="uniqCheckbox" value="" ng-checked="downloadItems.indexOf(x) > -1"
                              ng-click="toggleSelection(x.data)"></label>
                
            <div ng-show="x.value === 'yesStar'"> <img ng-src="/pictures/{{x.data}}" width="{{w}}" height="{{h}}">
            <i class="fa fa-star" aria-hidden="true" id="star"></i>
            </div>
            
               
            <div ng-show="x.value === 'noStar'"> <img ng-src="/pictures/{{x.data}}" width="{{w}}" height="{{h}}">
            <i class="fa fa-star-o" aria-hidden="true" id="star"></i>
            </div>
            </div>
            <button id="nxtBtn" class="customButtons" ng-click="next_image()" style="float: left; margin-left: 0px;">Next</button>
        </div>
        <!-- THIS IS FOR THE MULTIPLE PICTURE VIEW: -->
        <div class="container_row" ng-if="!fullscreen">
            <div  ng-repeat="x in newImageList | 
                            filterByTable:searchResultArray:pictureTags:downloadItems |
                            orderBy:'sortBy'" 
                            style="float:left">
            
                <label class="layer1"><input type="checkbox" class="uniq" id="uniqCheckbox" value="" ng-checked="downloadItems.indexOf(x.data) > -1"
                              ng-click="toggleSelection(x.data)"></label>
                
            <div ng-show="x.value === 'yesStar'"> <img ng-src="/pictures/{{x.data}}" width="{{w}}" height="{{h}}">
            <i class="fa fa-star" aria-hidden="true" id="star"></i>
            </div>
            
               
            <div ng-show="x.value === 'noStar'"> <img ng-src="/pictures/{{x.data}}" width="{{w}}" height="{{h}}">
            <i class="fa fa-star-o" aria-hidden="true" id="star"></i>
            </div>
            </div>
        </div>
        
        
     
    </div>
    
    <div class="outerDiv">
    <div class="selectedDownloadItem" ng-if="selectedDownloadItem">
        <div class="butHolder">
        <button id="dlBut" class="customButtons" ng-click="download()">DOWNLOAD</button>
        <button id="" class="customButtons" ng-click="tagModal()">TAG</button>
        <button id="" class="customButtons" ng-click="favorite()">FAVORITE</button>
        <button id="delBut" class="customButtons" ng-click="openModal()">DELETE</button>
        </div>
    </div>
    </div>
</div>

