<h1>Images</h1>

<div ng-controller="MainCtrl">
    
    <div ng-repeat="name in names">{{name}}</div>
    
    
    



        <div class="todo-list-uutiset">
            <ul class='uutisRajat' ng-repeat="todo in todoData">
                <li>{{todo}}</li>
            </ul>
        </div>



        <br>

        <div class="todo-form">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-md" placeholder="otsikko" ng-model="formData.title">
                    <textarea ng-model="formData.text" placeholder="teksti" style='width:550px'></textarea>

                </div>
                <button type="submit" class="btn btn-primary btn-md" ng-click="createTodo(formData.title, formData.text)">Julkaise</button>
            </form>
        </div>
        
        <h3>Pictures</h3>
       <!---->
       <div ng-repeat="x in pictureData">
            <img ng-src="{{x}}" width="300" height="300">
       </div>

        
      
</div>