<h1>Images</h1>

<div ng-controller="MainCtrl">

    <h3>Pictures</h3>
    <!---->
    <div ng-if="picdataLength" >
            
        
       
            
        
        <div ng-repeat="x in newImageList | filterByTable:searchResultArray:pictureTags:downloadItems" style="float:left">
        
            <label><input type="checkbox" value="" ng-checked="downloadItems.indexOf(x) > -1"
                          ng-click="toggleSelection(x.data)">Select image</label>
            
            
        <div ng-show="x.value === 'yesStar'"> <img ng-src="/pictures/{{x.data}}" width="300" height="300">
        <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        
           
        <div ng-show="x.value === 'noStar'"> <img ng-src="/pictures/{{x.data}}" width="300" height="300">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
           
        </div>
        
        
        
     
    </div>
    
    
    <div class="selectedDownloadItem" ng-if="selectedDownloadItem">
        <button class="btn btn-primary btn-sm" ng-click="download()">DOWNLOAD</button>
        <button class="btn btn-primary btn-sm" ng-click="tagModal()">TAG</button>
        <button class="btn btn-primary btn-sm" ng-click="favorite()">FAVORITE</button>
        <button class="btn btn-warning btn-sm" ng-click="openModal()">DELETE</button>
    </div>
</div>

