.col-sm-9{
   border-style: ridge;
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    min-height: 5000px;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}
.selectedDownloadItem{
    background-color: lightgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button{
    height: 52px;
    background-color: transparent;
    display: block;
   padding-left: 60px;
   border: 0px;
   
//    text-transform: uppercase;
    font-family: "Times";
    font-size: 24px;
    font-weight: 600;
	
   transition-duration: 0.4s; 
}

.button:hover {

}

.btn-upload{   
    background: url('../images/upload50.png') no-repeat;
    background-position: 5px center;
    background-size: 50px;
}


.btn-pictures{   
    background: url('../images/pictures50.png') no-repeat;
    background-position: 5px center;
}
.btn-favorite{   
    background: url('../images/favorite50.png') no-repeat;
    background-position: 5px center;
}

.btn-gallery{   
    background: url('../images/gallery50.png') no-repeat;
    background-position: 5px center;
}

.btn-zoomIn{   
    background: url('../images/zoomin50.png') no-repeat;
    background-position: 10px center;
    background-size: 35px;
}

.btn-zoomOut{   
    background: url('../images/zoomout50.png') no-repeat;
    background-position: 10px center;
    background-size: 35px;
}    
    